.idea/
*.iml
*.iws
*.eml
out/
.DS_Store
.svn
log/*.log
tmp/**
node_modules/
.sass-cache
css/reveal.min.css
js/reveal.min.js
Example.Console/UnityExample/.vs/
Example.Console/UnityExample/UnityExample/bin/
Example.Console/UnityExample/UnityExample/obj/
Example.Console/UnityExample/packages/
